.mat-list-base {
    width: 100%;
    //display: inline-block;
    padding-left: 20%;
    padding-right: 10%;
}
.titre-topic {
    font-family:Inter,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    padding: 0 16px;
    text-transform: uppercase;
}

/* TOPIC item effet HOVER */
.texte-item {
    color: #adb5bd;
}
.texte-item:hover {
    color: #212529;
}
.texte-item:active {
    color: #FF4B82;
    font-weight: 700;
}

/* TOPIC link actif */
a.active {
    color: #FF4B82 !important;
    font-weight: 700;
}

/* TOPIC fond actif*/
.is-active {
    background-color: rgba(0,0,0,.025);
}

/* Spinner */
.background-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  color: rgba(255, 75, 129, 1);
  /* Avant : color: rgba(0, 0, 0, 1);*/
  text-align: center;
  margin-top: 20%;
}

/* Gestion du responsive */
@media only screen and (max-width : 450px){
.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.topicsPhone {
    border: 1px solid #dadada;
    background-color: #f1f1f1;
    margin: auto;
    width:85%;
}
.texte-item {
    color: #949ca5; /* Avant color: #adb5bd;*/
}
/*.texte-item:hover {
    color: #212529;
}
.texte-item:active {
    color: #FF4B82;
    font-weight: 700;
}*/
}