<div class="scroll-bar" style=""></div>
<div class="divBlogList" *ngFor="let article of articles | slice:0:max" >
<mat-card  class="mat-elevation-z0">
  <mat-card-title >{{article.title}}</mat-card-title>
  <mat-card-subtitle>{{article.date}}</mat-card-subtitle>
  <mat-card-content>{{article.description}}</mat-card-content>
  <a href="#">Learn more</a>
</mat-card>
</div>
<div class="centerButton">
  <button (click)="showMore()" mat-stroked-button color="accent"><span class="material-icons">
expand_more
</span>Montrer plus d'articles<span class="material-icons">
expand_more
</span>
  </button>
</div>

