<div *ngIf="isloading" class="background-spinner">
  <div class="spinner">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>


<ng-container *ngIf="!isloading">
<div class="scroll-bar"></div>
<div class="divBlogList" *ngFor="let article of articles | slice:0:max" >
<mat-card  class="mat-elevation-z0">
  <mat-card-title >{{article.title}}</mat-card-title>
  <mat-card-subtitle>{{article.datePublication | date:'dd / MM / yyyy'}}</mat-card-subtitle>
  <mat-card-content>{{article.resume}}</mat-card-content>
  <button (click)= "detailsArticle(article.id)" mat-stroked-button color="accent">Learn more</button>
</mat-card>
</div>
<div class="centerButton">
  <button (click)="showMore()" mat-stroked-button color="accent"><span class="material-icons">
expand_more
</span>Montrer plus d'articles<span class="material-icons">
expand_more
</span>
  </button>
</div>
</ng-container>

