<footer>
  <div class="menuFooter" fxLayout="row" fxLayoutAlign="space-between center">
     <div class="copyright" fxLayout="row" fxLayoutAlign="start center">© Macablog 2020
      <div class="button">
        <a [routerLink]="['/home']" mat-button>Home</a>
      </div>
        <div class="button">
          <a [routerLink]="['/blog']" mat-button>Blog</a>
        </div>
      </div>
          <div class="logoSocial" fxLayout="row" fxFlexAlign="center">
            <a href="https://twitter.com/MacademiaFrance" target="_blank" ><img class="iconSocial" src="/assets/pictures/icon-twitter.png"  alt="Logo Twitter" /></a>
            <a href="https://github.com/ikkhar/MacaBlog" target="_blank"><img class="iconSocial" src="/assets/pictures/icon-github.png" alt="Logo Github" /></a>
            <a href="https://www.linkedin.com/company/macademiafrance/" target="_blank"><img class="iconSocial" src="/assets/pictures/icon-linkedin.png"  alt="Logo Linkedin" /></a>
            <a href="https://www.macademia.fr/contact" target="_blank"><img class="iconSocial" src="/assets/pictures/icon-contact.png" alt="Contact" /></a>
          </div>
  </div>
</footer>

