footer {
  position: sticky;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 2rem!important;
  display: grid;
  width: 100%;
}

.iconSocial  {
  width: 22px;
  height: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

.mat-toolbar {
  background: transparent;
}

.menuFooter {
  display: flex;
  font-size: 15px;
  color: #adb5bd;
  font-weight: 700;
  margin-left: 2%;
}


.logoSocial {
  margin-right: 2%;
  display: flex;
  flex-wrap: nowrap;

}

.mat-button{
  font-size: 15px;
  color: #adb5bd;
  font-weight: 700;
}


