<footer>
  <div class="menuFooter" fxLayout="row" fxLayoutAlign="center center">
        <p>© Macablog 2020</p>
          <div class="button">
              <a [routerLink]="['/home']" mat-button>Home</a>
          </div>
          <div class="button">
              <a [routerLink]="['/blog']" mat-button>Blog</a>
          </div>
            <div class="logoSocial" fxLayout="row" fxLayoutAlign="space-around center">
             <a href="https://twitter.com/MacademiaFrance" target="_blank" fxFlex="30" ><img class="iconSocial" src="/assets/pictures/icon-twitter.png"  alt="Logo Twitter" /></a>
             <a href="https://github.com/ikkhar/MacaBlog" target="_blank" fxFlex="30" ><img class="iconSocial" src="/assets/pictures/icon-github.png" alt="Logo Github" /></a>
             <a href="https://www.linkedin.com/company/macademiafrance/" target="_blank" fxFlex="30" ><img class="iconSocial" src="/assets/pictures/icon-linkedin.png"  alt="Logo Linkedin" /></a>
             <a href="https://www.macademia.fr/contact" target="_blank" fxFlex="30" ><img class="iconContact" src="/assets/pictures/icon-contact.png" alt="Contact" /></a>
            </div>
        </div>
</footer>

