header{
  display: inline;
  position: relative;

}

.boutonMenu{
  display: none;
}

.toolbar a{
  font-size: 1.0rem;
}

.toolbar {
  height: 100px;
}

.cursor {
  cursor: pointer;
}


@media screen and (min-width: 952px) {
  .positionToolbar {
      display: inline-block;
  }
}

.img-brand {
  width: 47px;
  height: 47px;
  transition: all .25s ease-out;
}

.mat-toolbar {
   background: transparent;

}

img {
  position: static;
  float: left;
  margin-left: 6%;
  margin-top: 50px;
  border-radius: 8px
}

.navbar {
  position: relative;
  display: inline-block;
  padding: 1.25rem;

}

.mat-menu-item{
  background: transparent;
}

.menuDisp{
  color: #adb5bd;
  font-weight: 700;
  padding-bottom: 25px;
}

.mat-button{
  font-size: 15px;
  font-weight: 700;
}

.menuTrigger{
  display: inline-block;
  position: relative;
}

/* Debut CSS Lien contact */
.navbar-right {
  display: inline-flex;
  float: right;
  padding: 20px;
  margin-right: 2%;
}

.iconSocialHeader{
  background: #fff;
  width:22px;
  clip-path:ellipse(50% 50%);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 6px;
}
.iconSocialHeader:hover {
  background: #f5f5f5;
  
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
}

/* Gestion du responsive */
@media only screen and (max-width : 450px){
  .navbar-right {
    padding-right: 0px;
    margin-right: 0px;
  }
}
