<div *ngIf="isloading" class="background-spinner">
  <div class="spinner">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>



<ng-container *ngIf="!isloading">
  <div class="scroll-bar"></div>
  <div class="divBlogList" *ngFor="let topic of topic" >
  <mat-card  class="mat-elevation-z0">
    <mat-card-title >{{topic.title}}</mat-card-title>
    <mat-card-subtitle>{{topic.datePublication | date:'dd / MM / yyyy'}}</mat-card-subtitle>
    <mat-card-content>{{topic.resume}}</mat-card-content>
    <button (click)= "detailsArticle(topic.id)" mat-stroked-button color="accent" class="borderNull">En savoir plus</button>
  </mat-card>
  </div>
  <div class="centerButton">
    <button (click)="showMore()" mat-stroked-button color="accent"><span class="material-icons">
  expand_more
  </span>Montrer plus d'articles<span class="material-icons">
  expand_more
  </span>
    </button>
  </div>
  </ng-container>
<!--<div fxLayout.lt-md="column" fxLayout="row" class="insideBlog">
    <div fxLayout="column" class="shareBlog" fxFlex="40">
      <app-share></app-share>
      <app-last-entries class="spaceShareLastEntries"></app-last-entries>
    </div>
  </div>-->

