<div *ngIf="isloading" class="background-spinner">
  <div class="spinner">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>



<ng-container *ngIf="!isloading && topic" noShowPhrase="true">
  <div class="scroll-bar"></div>
  <div class="divBlogList" *ngFor="let article of topic">
  <mat-card  class="mat-elevation-z0">
    <mat-card-title >{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.datePublication | date:'dd MMMM yyyy': 'fr-FR'}}</mat-card-subtitle>
    <mat-card-content>{{article.resume}}</mat-card-content>
    <button (click)= "detailsArticle(article.id)" mat-stroked-button color="accent" class="borderNull">En savoir plus</button>
  </mat-card>
</div>
<div class="centerButton" >
  <button (click)="getAllArticlesByThematiqueByClick(topic.id)" mat-stroked-button color="accent"><span class="material-icons">
    expand_more
  </span>Montrer plus d'articles<span class="material-icons">
  expand_more
  </span>
    </button>
  </div>
</ng-container>

<!--
<ng-container *ngIf="!isloading && !topic">
  <div showPhrase="true" class="emptyListArticlesByThematique" >
<h2>Il n'y a pas d'article pour cette thématique</h2>
</div>
</ng-container>
-->

<!--<div fxLayout.lt-md="column" fxLayout="row" class="insideBlog">
    <div fxLayout="column" class="shareBlog" fxFlex="40">
      <app-share></app-share>
      <app-last-entries class="spaceShareLastEntries"></app-last-entries>
    </div>
  </div>-->
