mat-card{
  border: 1px solid #dadada;
  padding: 16px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.divider {
  width: 3.125rem !important;
  height: .25rem;
  border-radius: .25rem !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.bg-medium-primary {
  background-color: rgba(124,77,255,.1);
}
