/* Progress Bar POSITION */
#top {
  position: fixed;
  z-index: 1000;
	top: 0;
	width: 100%;
	height: inherit;
}

/*Card Article Blog */
.background-color-none {
  background-color: none ;
  z-index: 0;
}
.padding-less {
  padding-left: 0%;
  padding-right: 0%;
}

/*Header Aricle */
.fondGris{
  background-color: rgba(124,77,255,.03);
}
.oneBlog{
  width: 85%;
  margin: auto;
}
h1 {
  display: block;
  font-size: 1.4em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Paragraphe article */
.paragraphBlog {
  margin-top: 0;
  padding: 30px;
  font-size: 17px;
  line-height: 1.5em;
}


/* Share & 10 derniers articles */
.shareBlog {
  padding: 20px;
}

.bg-medium-primary {
  background-color: rgba(124,77,255,.1);
}
.divider {
  width: 3.125rem !important;
  height: .25rem;
  border-radius: .25rem !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.point{
  color: #FF4B82 !important;
  font-size: 30px;
  position: relative;
  top: -1px;
  margin: 0 0.5rem 0 .5rem;
  font-weight: 400;
}


/* Spinner */
.background-spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.spinner {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  color: rgba(255, 75, 129, 1);
  /* Avant : color: rgba(0, 0, 0, 1);*/
  text-align: center;
  margin-top: 20%;
}
