<!-- Debut Spinner Loading -->
<div *ngIf="isloading" class="background-spinner">
  <div class="spinner">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<!-- Fin Spinner Loading -->


<div class="divBlogList">
  <!-- Debut Progress bar -->
  <div id="top">
    <mat-progress-bar color="warn" [value]="progresValue" *ngIf="progresValue > 0"></mat-progress-bar>
  </div>
  <!-- Fin Progress bar -->

  <!-- Debut HEADER -->
  <mat-card  class="mat-elevation-z0 background-color-none padding-less" *ngIf= article>
    <div fxLayout="column" class="fondGris">
      <div class="oneBlog">
        <mat-card-title ><h1>{{article.title}}</h1></mat-card-title>
        <div class="divider bg-medium-primary"></div>
        <mat-card-subtitle><p style="color:#393a3b"><i>{{auteur}}</i></p></mat-card-subtitle>
        <mat-card-subtitle><p><span style="font-weight: bold;color:#FF4B82">#{{keywords | uppercase}} • </span>{{article.datePublication | date:'dd / MM / yyyy'}}</p></mat-card-subtitle>
      </div>
    </div>
  </mat-card>
</div>
<!-- Fin HEADER -->

<!-- Debut BODY & Side -->
<div fxLayout.lt-md="column" fxLayout="row" class="insideBlog" >
  <div class="paragraphBlog" fxFlex="60" [innerHTML]="article.contenent"></div>
  <!-- Debut Side -->
  <div fxLayout="column" class="shareBlog" fxFlex="40">
    <app-share></app-share>
    <app-last-entries class="spaceShareLastEntries"></app-last-entries>
  </div>
  <!-- Fin Side -->
</div>
<!-- Debut BODY & Side -->



