/* Import Prism */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-tomorrow.css";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: white !important;
}
.codeExemple{
  background-color: #212529;
  color: white;
  border: 1px solid #FF4B82
}

// Code pour mots mis en avant dans texte paragraphe
.rose /*code:not([class*="language-"])*/{
  padding: .2rem .4rem;
  background-color:#fdf5fc; /* Avant : #f8f9fa;*/
  color: #FF4B82;
  font-weight: bold;
  font-size: .935rem;
  border-radius: .25rem;
  margin: 0 .05em;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  letter-spacing: .75px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
/*
.rose{
  color: #FF4B82;
  font-weight: bold;
}
*/