/* Import Prism */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-tomorrow.css";
@import '~ngx-sharebuttons/themes/default/default-theme';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Ajout comportement passage souris */
a:hover {
  cursor: pointer;
  color:#737577;
}

.mat-card {padding:16px;}
//.mat-card-content {padding: 30px !important;}
.mat-card-content {
  padding: 0px !important;
}

// Progress-Bar articles

.mat-progress-bar, .mat-progress-bar-element {
  height: 3px !important;
}
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: white !important;
}
.mat-progress-bar.mat-warn .mat-progress-bar-fill::after {
  background-color: #FF4B82 !important;
}

.codeExemple{
  background-color: #212529;
  color: white;
  border: 1px solid #FF4B82
}

// Debut code gestion du footer
.ie-stickyFooter {
	display:-ms-flexbox;
	flex-direction:column; //Pour regler problème scss(vendorPrefic) suppression de -ms-flex-direction: colomn
}

#page {
	width:100%;
	min-height:100vh;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
}

#content {
	-webkit-flex-grow:1;
	flex-grow:1;
}
// Fin code gestion du footer

// * PRISM * //
// Modification du block - ajout border-radius
pre[class*="language-"] {
  border-radius: 5px;
  margin-top: 1em;
}
// Modification toolbar (btn copy)
div.code-toolbar > .toolbar {
  top: 0.25em;
  right: 0.3em;
}

// Code pour mots mis en avant dans texte paragraphe
.rose {
  padding: .2rem .4rem;
  background-color:#fdf5fc; /* Avant : #f8f9fa;*/
  color: #FF4B82;
  font-weight: bold;
  font-size: .935rem;
  border-radius: .25rem;
  margin: 0 .05em;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  letter-spacing: .75px;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

// progress-spinner color rose !!
.mat-progress-spinner circle{
  stroke:  #FF4B82;
  animation-name: mat-progress-spinner-stroke-rotate-100 !important;
  stroke-dasharray: 280px !important;
  stroke-width: 1px !important;
}
