/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: white !important;
}
.codeExemple{
  background-color: #212529;
  color: white;
  border: 1px solid #FF4B82
}
.rose{
  color: #FF4B82;
  font-weight: bold;
}
