/*.mat-progress-bar .mat-progress-bar-element, .mat-progress-bar .mat-progress-bar-fill::after {
  height: 100%;
  position: absolute;
  width: 100%;
}
.mat-progress-bar .mat-progress-bar-fill::after {
  animation: none;
  content: "";
  display: inline-block;
  left: 0;
}*/