<div class="centrerShare">
  <mat-card class="mat-elevation-z0">
    <mat-card-title>Partager cet article</mat-card-title>
    <div class="divider bg-medium-primary"></div>
    <mat-card-subtitle>Partager cet article avec vos amis & vos abonnés</mat-card-subtitle>
    <div fxLayout="row">
      <share-buttons [theme]="'default'"
          [include]="['facebook','twitter','linkedin']"
          [showText]="true"
          [url]="''"
          [autoSetMeta]="true">
      </share-buttons>
    </div>
  </mat-card>
</div>
