<div class="centrerShare">
  <mat-card class="mat-elevation-z0">
    <mat-card-title>Partager cet article</mat-card-title>
    <div class="divider bg-medium-primary"></div>
    <mat-card-subtitle>Partager cet article avec vos amis & vos abonnés</mat-card-subtitle>
    <div fxLayout="row">
      <a href="#" class="btn facebook">
          <span class="label icon fa fa-facebook">facebook</span>
      </a>
      <a href="#" class="btn twitter">
          <span class="label icon fa fa-twitter">twitter</span>
      </a>
      <a href="#" class="btn linkedin">
          <span class="label icon fa fa-linkedin">Linkedin</span>
        </a>
      </div>
  </mat-card>
</div>
